<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'main:analysis_list' %}">Анализы</a>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'main:doctors_list' %}">Врачи</a>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'main:order' %}">Запись к врачу</a>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'main:contacts' %}">Контакты</a>
</nav>